@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    color: black;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}